In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
gdf = gpd.read_file('MB_2021_AUST_SHP_GDA2020/MB_2021_AUST_GDA2020.shp')
# 8m

In [5]:
base_url = 'https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/access-and-downloads/allocation-files'

In [7]:
df_MB = pd.read_excel(f'{base_url}/MB_2021_AUST.xlsx')
# 3m 30s

In [8]:
df_LGA = pd.read_excel(f'{base_url}/LGA_2023_AUST.xlsx')
# 2m

In [9]:
df_SAL = pd.read_excel(f'{base_url}/SAL_2021_AUST.xlsx')
# 3m 30s

In [10]:
df_POA = pd.read_excel(f'{base_url}/POA_2021_AUST.xlsx')
# 2m

In [13]:
df = pd.merge(df_MB, df_LGA, on='MB_CODE_2021', how='left', suffixes=('', '_LGA'))
df = pd.merge(df, df_SAL, on='MB_CODE_2021', how='left', suffixes=('', '_SAL'))
df = pd.merge(df, df_POA, on='MB_CODE_2021', how='left', suffixes=('', '_POA'))
# 10s

In [14]:
len(df_MB), len(df_LGA), len(df_SAL), len(df_POA), len(df), len(gdf)

(368286, 368286, 368286, 368286, 368286, 368286)

In [16]:
df.columns

Index(['MB_CODE_2021', 'MB_CATEGORY_2021', 'CHANGE_FLAG_2021',
       'CHANGE_LABEL_2021', 'SA1_CODE_2021', 'SA2_CODE_2021', 'SA2_NAME_2021',
       'SA3_CODE_2021', 'SA3_NAME_2021', 'SA4_CODE_2021', 'SA4_NAME_2021',
       'GCCSA_CODE_2021', 'GCCSA_NAME_2021', 'STATE_CODE_2021',
       'STATE_NAME_2021', 'AUS_CODE_2021', 'AUS_NAME_2021', 'AREA_ALBERS_SQKM',
       'ASGS_LOCI_URI_2021', 'LGA_CODE_2023', 'LGA_NAME_2023',
       'STATE_CODE_2021_LGA', 'STATE_NAME_2021_LGA', 'AUS_CODE_2021_LGA',
       'AUS_NAME_2021_LGA', 'AREA_ALBERS_SQKM_LGA', 'ASGS_LOCI_URI_2021_LGA',
       'SAL_CODE_2021', 'SAL_NAME_2021', 'STATE_CODE_2021_SAL',
       'STATE_NAME_2021_SAL', 'AUS_CODE_2021_SAL', 'AUS_NAME_2021_SAL',
       'AREA_ALBERS_SQKM_SAL', 'ASGS_LOCI_URI_2021_SAL', 'POA_CODE_2021',
       'POA_NAME_2021', 'AUS_CODE_2021_POA', 'AUS_NAME_2021_POA',
       'AREA_ALBERS_SQKM_POA', 'ASGS_LOCI_URI_2021_POA'],
      dtype='object')

In [ ]:
'MB_CODE_2021', 
'MB_CATEGORY_2021', 
'CHANGE_FLAG_2021',
'CHANGE_LABEL_2021', 
'SA1_CODE_2021', 
'SA2_CODE_2021', 
'SA2_NAME_2021',
'SA3_CODE_2021', 
'SA3_NAME_2021', 
'SA4_CODE_2021', 
'SA4_NAME_2021',
'GCCSA_CODE_2021', 
'GCCSA_NAME_2021', 
'SAL_CODE_2021', 
'SAL_NAME_2021', 
'POA_CODE_2021',
'POA_NAME_2021', 
'LGA_CODE_2023', 
'LGA_NAME_2023',

'STATE_CODE_2021',
'STATE_NAME_2021', 
'AUS_CODE_2021', 
'AUS_NAME_2021', 
'AREA_ALBERS_SQKM',
'ASGS_LOCI_URI_2021', 

'STATE_CODE_2021_LGA', 
'STATE_NAME_2021_LGA', 
'AUS_CODE_2021_LGA',
'AUS_NAME_2021_LGA', 
'AREA_ALBERS_SQKM_LGA', 
'ASGS_LOCI_URI_2021_LGA',

'STATE_CODE_2021_SAL',
'STATE_NAME_2021_SAL', 
'AUS_CODE_2021_SAL', 
'AUS_NAME_2021_SAL',
'AREA_ALBERS_SQKM_SAL', 
'ASGS_LOCI_URI_2021_SAL', 

'AUS_CODE_2021_POA', 
'AUS_NAME_2021_POA',
'AREA_ALBERS_SQKM_POA', 
'ASGS_LOCI_URI_2021_POA'

In [71]:
all([all(df['STATE_CODE_2021'] == df['STATE_CODE_2021_LGA']), all(df['STATE_NAME_2021'] == df['STATE_NAME_2021_LGA']), all(df['AUS_CODE_2021'] == df['AUS_CODE_2021_LGA']), all(df['AUS_NAME_2021'] == df['AUS_NAME_2021_LGA']), all(df['AREA_ALBERS_SQKM'].fillna('') == df['AREA_ALBERS_SQKM_LGA'].fillna('')), all(df['ASGS_LOCI_URI_2021'] == df['ASGS_LOCI_URI_2021_LGA'].str.replace('https:', 'http:')), all(df['STATE_CODE_2021'] == df['STATE_CODE_2021_SAL']), all(df['STATE_NAME_2021'] == df['STATE_NAME_2021_SAL']), all(df['AUS_CODE_2021'] == df['AUS_CODE_2021_SAL']), all(df['AUS_NAME_2021'] == df['AUS_NAME_2021_SAL']), all(df['AREA_ALBERS_SQKM'].fillna('') == df['AREA_ALBERS_SQKM_SAL'].fillna('')), all(df['ASGS_LOCI_URI_2021'] == df['ASGS_LOCI_URI_2021_SAL']), all(df['AUS_CODE_2021'] == df['AUS_CODE_2021_POA']), all(df['AUS_NAME_2021'] == df['AUS_NAME_2021_POA']), all(df['AREA_ALBERS_SQKM'].fillna('') == df['AREA_ALBERS_SQKM_POA'].fillna('')), all(df['ASGS_LOCI_URI_2021'] == df['ASGS_LOCI_URI_2021_POA'])])

True

In [72]:
df.drop(columns=['STATE_CODE_2021_LGA', 'STATE_NAME_2021_LGA', 'AUS_CODE_2021_LGA', 'AUS_NAME_2021_LGA', 'AREA_ALBERS_SQKM_LGA', 'ASGS_LOCI_URI_2021_LGA', 'STATE_CODE_2021_SAL', 'STATE_NAME_2021_SAL', 'AUS_CODE_2021_SAL', 'AUS_NAME_2021_SAL', 'AREA_ALBERS_SQKM_SAL', 'ASGS_LOCI_URI_2021_SAL', 'AUS_CODE_2021_POA', 'AUS_NAME_2021_POA', 'AREA_ALBERS_SQKM_POA', 'ASGS_LOCI_URI_2021_POA'], inplace=True)

In [84]:
all([df[['LGA_CODE_2023', 'LGA_NAME_2023']].groupby(['LGA_CODE_2023'])['LGA_NAME_2023'].apply(lambda x: x.nunique() == 1).all(), df[['SAL_CODE_2021', 'SAL_NAME_2021']].groupby(['SAL_CODE_2021'])['SAL_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['POA_CODE_2021', 'POA_NAME_2021']].groupby(['POA_CODE_2021'])['POA_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['SA2_CODE_2021', 'SA2_NAME_2021']].groupby(['SA2_CODE_2021'])['SA2_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['SA3_CODE_2021', 'SA3_NAME_2021']].groupby(['SA3_CODE_2021'])['SA3_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['SA4_CODE_2021', 'SA4_NAME_2021']].groupby(['SA4_CODE_2021'])['SA4_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['GCCSA_CODE_2021', 'GCCSA_NAME_2021']].groupby(['GCCSA_CODE_2021'])['GCCSA_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['STATE_CODE_2021', 'STATE_NAME_2021']].groupby(['STATE_CODE_2021'])['STATE_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['AUS_CODE_2021', 'AUS_NAME_2021']].groupby(['AUS_CODE_2021'])['AUS_NAME_2021'].apply(lambda x: x.nunique() == 1).all(), df[['CHANGE_FLAG_2021', 'CHANGE_LABEL_2021']].groupby(['CHANGE_FLAG_2021'])['CHANGE_LABEL_2021'].apply(lambda x: x.nunique() == 1).all()])

True

In [85]:
# Check if there is a 1-1 mapping relationship between 'LGA_CODE_2023' and 'LGA_NAME_2023'
dfi_LGA = df[['LGA_CODE_2023', 'LGA_NAME_2023']].drop_duplicates().reset_index(drop=True)
dfi_SAL = df[['SAL_CODE_2021', 'SAL_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_POA = df[['POA_CODE_2021', 'POA_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_SA2 = df[['SA2_CODE_2021', 'SA2_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_SA3 = df[['SA3_CODE_2021', 'SA3_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_SA4 = df[['SA4_CODE_2021', 'SA4_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_GCCSA = df[['GCCSA_CODE_2021', 'GCCSA_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_STATE = df[['STATE_CODE_2021', 'STATE_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_AUS = df[['AUS_CODE_2021', 'AUS_NAME_2021']].drop_duplicates().reset_index(drop=True)
dfi_CHANGE = df[['CHANGE_FLAG_2021', 'CHANGE_LABEL_2021']].drop_duplicates().reset_index(drop=True)

In [87]:
df.drop(columns=['LGA_NAME_2023', 'SAL_NAME_2021', 'POA_NAME_2021', 'SA2_NAME_2021', 'SA3_NAME_2021', 'SA4_NAME_2021', 'GCCSA_NAME_2021', 'STATE_NAME_2021', 'AUS_NAME_2021', 'CHANGE_LABEL_2021'], inplace=True)

In [96]:
df_suburbs = df[['SAL_CODE_2021', 'LGA_CODE_2023', 'POA_CODE_2021', 'GCCSA_CODE_2021']].drop_duplicates().reset_index(drop=True)
df_suburbs = df_suburbs.merge(dfi_SAL, on='SAL_CODE_2021', how='left').merge(dfi_LGA, on='LGA_CODE_2023', how='left').merge(dfi_POA, on='POA_CODE_2021', how='left')

In [99]:
len(df_suburbs)

16804

In [122]:
df_suburbs_2 = df[[
  'SAL_CODE_2021', 
  # 'LGA_CODE_2023', 
  'POA_CODE_2021', 
  # 'GCCSA_CODE_2021', 
  # 'SA2_CODE_2021', 
  # 'SA3_CODE_2021', 
  # 'SA4_CODE_2021', 
  'STATE_CODE_2021', 
  'AUS_CODE_2021'
  ]].drop_duplicates().reset_index(drop=True)
len(df_suburbs_2)

15540

In [111]:
gdfi : gpd.GeoDataFrame = gdf[['MB_CODE21', 'geometry']].rename(columns={'MB_CODE21': 'MB_CODE_2021'}).merge(df, on='MB_CODE_2021', how='left')
# 10s

In [115]:
gdfi[gdfi['geometry'].isna()]

,MB_CODE_2021,geometry,MB_CATEGORY_2021,CHANGE_FLAG_2021,SA1_CODE_2021,SA2_CODE_2021,SA3_CODE_2021,SA4_CODE_2021,GCCSA_CODE_2021,STATE_CODE_2021,AUS_CODE_2021,AREA_ALBERS_SQKM,ASGS_LOCI_URI_2021,LGA_CODE_2023,SAL_CODE_2021,POA_CODE_2021
112735,18000000778,None,MIGRATORY,0,19797979991,197979799,19797,197,19799,1,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/1...,19799,19797,9797
112736,19000000779,None,OFFSHORE,0,19797979992,197979799,19797,197,19799,1,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/1...,19799,19797,9797
112737,10000009499,None,NOUSUALRESIDENCE,0,19999949999,199999499,19999,199,19499,1,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/1...,19499,19494,9494
201474,28000000778,None,MIGRATORY,0,29797979991,297979799,29797,297,29799,2,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/2...,29799,29797,9797
201475,29000000779,None,OFFSHORE,0,29797979992,297979799,29797,297,29799,2,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/2...,29799,29797,9797
201476,20000009499,None,NOUSUALRESIDENCE,0,29999949999,299999499,29999,299,29499,2,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/2...,29499,29494,9494
273334,38000001778,None,MIGRATORY,0,39797979991,397979799,39797,397,39799,3,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/3...,39799,39797,9797
273335,38000002778,None,MIGRATORY,0,39797979991,397979799,39797,397,39799,3,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/3...,39799,39797,9797
273336,39000001779,None,OFFSHORE,0,39797979992,397979799,39797,397,39799,3,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/3...,39799,39797,9797
273337,39000002779,None,OFFSHORE,0,39797979992,397979799,39797,397,39799,3,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/3...,39799,39797,9797
273338,30000009499,None,NOUSUALRESIDENCE,0,39999949999,399999499,39999,399,39499,3,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/3...,39499,39494,9494
301766,48000001778,None,MIGRATORY,0,49797979991,497979799,49797,497,49799,4,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/4...,49799,49797,9797
301767,48000002778,None,MIGRATORY,0,49797979991,497979799,49797,497,49799,4,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/4...,49799,49797,9797
301768,49000000779,None,OFFSHORE,0,49797979992,497979799,49797,497,49799,4,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/4...,49799,49797,9797
301769,40000009499,None,NOUSUALRESIDENCE,0,49999949999,499999499,49999,499,49499,4,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/4...,49499,49494,9494
345087,58000001778,None,MIGRATORY,0,59797979991,597979799,59797,597,59799,5,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/5...,59799,59797,9797
345088,58000002778,None,MIGRATORY,0,59797979991,597979799,59797,597,59799,5,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/5...,59799,59797,9797
345089,59000001779,None,OFFSHORE,0,59797979992,597979799,59797,597,59799,5,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/5...,59799,59797,9797
345090,59000002779,None,OFFSHORE,0,59797979992,597979799,59797,597,59799,5,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/5...,59799,59797,9797
345091,50000009499,None,NOUSUALRESIDENCE,0,59999949999,599999499,59999,599,59499,5,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/5...,59499,59494,9494
358108,65000000775,None,ANTARCTICA,0,69797979994,697979799,69797,697,69799,6,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/6...,69799,69797,9797
358123,68000000778,None,MIGRATORY,0,69797979991,697979799,69797,697,69799,6,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/6...,69799,69797,9797
358124,69000000779,None,OFFSHORE,0,69797979992,697979799,69797,697,69799,6,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/6...,69799,69797,9797
358125,60000009499,None,NOUSUALRESIDENCE,0,69999949999,699999499,69999,699,69499,6,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/6...,69499,69494,9494
361484,78000000778,None,MIGRATORY,0,79797979991,797979799,79797,797,79799,7,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/7...,79799,79797,9797
361485,79000000779,None,OFFSHORE,0,79797979992,797979799,79797,797,79799,7,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/7...,79799,79797,9797
361486,70000009499,None,NOUSUALRESIDENCE,0,79999949999,799999499,79999,799,79499,7,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/7...,79499,79494,9494
368147,88000000778,None,MIGRATORY,0,89797979991,897979799,89797,897,89799,8,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/8...,89799,89797,9797
368148,80000009499,None,NOUSUALRESIDENCE,0,89999949999,899999499,89999,899,89499,8,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/8...,89499,89494,9494
368284,90000009499,None,NOUSUALRESIDENCE,0,99999949999,999999499,99999,999,99499,9,AUS,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/9...,99499,99494,9494
368285,ZZZZZZZZZZZ,None,Outside Australia,1,ZZZZZZZZZZZ,ZZZZZZZZZ,ZZZZZ,ZZZ,ZZZZZ,Z,ZZZ,NaN,http://linked.data.gov.au/dataset/asgsed3/MB/Z...,ZZZZZ,ZZZZZ,ZZZZ

In [124]:
gdf_suburbs = gdfi[['SAL_CODE_2021', 'POA_CODE_2021', 'geometry']].dissolve(by=['SAL_CODE_2021', 'POA_CODE_2021']).reset_index()
# 3m 30s

C:\Users\An\AppData\Roaming\Python\Python312\site-packages\geopandas\geodataframe.py:1815: FutureWarning: `unary_union` returned None due to all-None GeoSeries. In future, `unary_union` will return 'GEOMETRYCOLLECTION EMPTY' instead.
  merged_geom = block.unary_union

In [128]:
df_suburbs = df[['SAL_CODE_2021', 'POA_CODE_2021', 'STATE_CODE_2021', 'AUS_CODE_2021']].drop_duplicates().reset_index(drop=True)

In [137]:
gdf_suburbs_area = df.groupby(['SAL_CODE_2021', 'POA_CODE_2021', 'STATE_CODE_2021', 'AUS_CODE_2021'])['AREA_ALBERS_SQKM'].sum().reset_index()

In [140]:
gdf_suburbs : gpd.GeoDataFrame = gdf_suburbs.merge(gdf_suburbs_area, on=['SAL_CODE_2021', 'POA_CODE_2021'], how='left')

In [143]:
gdf_suburbs = gdf_suburbs.merge(dfi_SAL, on='SAL_CODE_2021', how='left').merge(dfi_POA, on='POA_CODE_2021', how='left').merge(dfi_STATE, on='STATE_CODE_2021', how='left').merge(dfi_AUS, on='AUS_CODE_2021', how='left')

In [145]:
gdf_suburbs.rename(columns={'AREA_ALBERS_SQKM': 'area_sqkm', 'SAL_NAME_2021': 'suburb', 'POA_NAME_2021': 'postcode', 'STATE_NAME_2021': 'state', 'AUS_NAME_2021': 'country'}, inplace=True)

In [146]:
gdf_suburbs = gdf_suburbs[['suburb', 'postcode', 'state', 'country', 'area_sqkm', 'geometry']]

In [158]:
gdf_suburbs.to_file('suburbs.geojson', driver='GeoJSON')
# 2m 30s

In [159]:
dfi_STATE

  STATE_CODE_2021               STATE_NAME_2021
0               1               New South Wales
1               2                      Victoria
2               3                    Queensland
3               4               South Australia
4               5             Western Australia
5               6                      Tasmania
6               7            Northern Territory
7               8  Australian Capital Territory
8               9             Other Territories
9               Z             Outside Australia

In [160]:
# Output to geojson, but group and split by state
state_code = {
    'New South Wales' : '1',
    'Victoria' : '2',
    'Queensland' : '3',
    'South Australia' : '4',
    'Western Australia' : '5',
    'Tasmania' : '6',
    'Northern Territory' : '7',
    'Australian Capital Territory' : '8',
    'Other Territories' : '9',
    'Outside Australia' : 'Z',
}
gdf_suburbs.groupby('state').apply(lambda x: x.to_file(f'suburbs_{state_code[x.name]}.geojson', driver='GeoJSON'))

Empty DataFrame
Columns: []
Index: []